*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata

SSRN-id3489976.pdf
Local Projections OJorda.pdf
lp_var.pdf
lpirfs.pdf
w19414.pdf

*.html
*.bak
*.csv
*.xlsx
*.Rproj.user
*.Rproj
/*.Rproj
/Inequality_2024/*Rproj*
