*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
**/*.pdf
**/*.rtf



*.html
*.rtf
*.bak
*.csv
*.xlsx
*.Rproj.user
*.Rproj
/*.Rproj
Inequality_2024/*Rproj*
Inequality_2024/results/**/*.rtf
Inequality_2024/results/Table_1/*.rtf
Inequality_2024/results/Table_2/*.rtf
Inequality_2024/results/Table_8/*.rtf
